@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.JobPostsContainer {

    .jobPostsRow {
        padding: 40px 8%;
    }

    .jobPosts {

        @media (max-width: 767px) {
            justify-content: center;
            display: flex;

        }

        .titleBlue {

            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            display: flex;
            align-items: center;
            margin-top: 20px;
            text-align: center;

            color: #474545;

            @media (max-width: 1000px) {
                font-weight: 500;

            }

        }

    }


    .Jobs-Header {
        padding-top: 25px;

        .jobs-text {
            color: #222755;
            font-weight: 700;
        }


    }

    .jobs-loading-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;

        .search-text {
            margin-right: 10px;
            font-weight: 700;

        }
    }

    .padding-0 {
        padding: 0 !important;
    }

    .no-found {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;

    }
}