.jojo-navbar {
    position: absolute !important;
    width: 100%;
    z-index: 10;
    padding-top: 10px;

    //below 992px
    @media (max-width: 991px) {
        #basic-navbar-nav {
            background-color: rgba(0, 0, 0, 0.837);
        }
    }


    .background-grey {
        color: white;
    }

    .navbar-items {
        display: flex;
        justify-content: space-between;
    }

    .navbar-nav {
        display: flex;
        width: 32%;
        justify-content: space-between;
        margin-left: auto;
    }

    //media query below 1200
    @media (max-width: 1200px) {
        .navbar-nav {
            width: 40%;
        }
    }

    .center-jojo {
        cursor: pointer;
        display: flex;
        align-items: center;



        .jojo-text {
            font-family: 'Manrope';
            font-weight: 600;
            margin-left: 10px;

            color: white;
        }
    }

    .dropdown-toggle::after {
        color: white !important;
    }


    .background-grey:hover {
        background-color: rgba(180, 190, 203, 0.4);
        border-radius: 6px;
        transition: 0.6s;
    }

    .pad-right-5 {
        padding-right: 5px;
    }

    .navbar {
        font-family: Montserrat, sans-serif;
        font-size: 14px;


    }
}